@media screen and (max-width: 768px) and (min-width: 0px){
    /*Mobile*/
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    /*tablet ipad*/
}

@media screen and (max-width: 1449px) and (min-width: 992px){
    /*Laptop*/
    .form-div-new-project{
        position: absolute;
        width: 25%;
        height: 50%;
        left: 10%;
        top: 10%;
    }
}

 @media screen and (max-width:8000px) and (min-width: 1450px) {
     /* big screens */

 }