    <div class="container">
        <div class="container form-div-new-project">
            <h2>New project</h2>
            <form action="/">
                <div class="form-group">
                    <input type="text" class="form-control required" id="project_name" placeholder="Enter project name" name="project_name">
                </div>

                <div class="form-group">
                    <textarea class="form-controle" id="description" placeholder="Description" rows="5" style="width:100%"></textarea>
                </div>
                <button type="submit" class="btn btn-default" (click)="onCancelButtonClick()">Cancel</button>
                <button type="submit" class="btn btn-default">Create</button>
            </form>
        </div>
    </div>