@media screen and (max-width: 768px) and (min-width: 0px){
    /*Mobile*/
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    /*tablet ipad*/
}

@media screen and (max-width: 1449px) and (min-width: 992px){
    /*Laptop*/
    .project-details{
        position: absolute;
        width: 25%;
        top: 5%;
    }    
}

 @media screen and (max-width:8000px) and (min-width: 1450px) {
     /* big screens */

 }

 .project-list{
     margin-top: 5%;
     border: 1px solid black;
     display: block;
 }

 .projects-element{
    margin: 5% 0% 5% 0%;
    /*border: 1px solid black;*/
 }