<div class="container-fluid project-details">
    <h2>My Projects</h2>
    <div class="create-project-btn">
        <button type="" class="btn btn-default" (click)="onClickNewProject()">Create project</button>
    </div>
    <div  class="container-fluid  project-list">
        <div  *ngFor="let p of myProjects" class="projects-element list-group" (click)="onClickProject($event,p.id)">
            <a  class="list-group-item">{{p.name}}</a>
        </div>
    </div>
</div>