<div class="container-fluid beacon-details col-md-6">
    <h2>{{projectDetails.name}}</h2>
    <h4>{{projectDetails.details}}</h4>
    <button type="" class="btn btn-default" (click)="onAddNewBeaconClicked()">Add beacon</button>

    <div class="container-fluid beacon-list">
        <div class="container-fluid beacon-element list-group"  *ngFor="let bcn of projectDetails?.beacons" (click)="onClickBeacon($event,bcn.id)">
            <a class="list-group-item">{{bcn.name}}</a>
        </div>
    </div>
</div>
<!--<div class="container-fluid div-analytics col-md-6">
    Analytics
</div>-->