<div class="container-fluid beacon-details col-md-6">
    <h2>{{beaconDetails.name}}</h2>
    <h4>{{beaconDetails.details}}</h4>
    <button type="" class="btn btn-default" (click)="onAddNewBeaconClicked()">Add URL</button>

    <div class="container-fluid URL-list">
        <div class="container-fluid url-element list-group"  *ngFor="let URL of beaconDetails?.URLs" (click)="onClickURL($event,URL.url)">
            <a class="list-group-item">{{URL.url}}</a>
        </div>
    </div>
</div>
